---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

import Grid from "$components/Grid.astro";
import Head from "$components/Head.astro";
import Icon from "$components/Icon.astro";
import Illustration from "$components/Illustration.astro";
import Section from "$components/Section.astro";

import imageMenno from "$assets/images/menno.png";

import "$styles/fonts.css";
import "$styles/global.css";

const jobs = await getCollection("job");
const skills = await getCollection("skill");

const images = await Astro.glob("../assets/images/*.png").then((images) => {
  return images.map((image) => image.default);
});
---

<html lang="en">
  <Head />

  <body class="antialiased bg-white dark:bg-black px-4 md:px-8">
    <section class="max-w-7xl lg:px-24 pt-10 md:pt-12 mb-32 md:mb-36 lg:mb-40 mx-auto w-full">
      <Picture
        class="size-32 md:size-40 rounded-full mb-8 md:mb-10 mx-auto"
        pictureAttributes={{ class: "contents" }}
        src={imageMenno}
        alt="Photo Menno"
        formats={["avif", "webp"]}
        densities={[2, 3]}
        width={160}
        height={160}
      />

      <h1
        class="text-black dark:text-white font-black text-4xl md:text-6xl lg:text-[5rem] leading-tight md:leading-[1.1] lg:leading-[1.05] tracking-tight text-center mb-4 md:mb-8"
      >
        <span class="block">Menno Wildeboer</span>
        <span class="block">Software Monsieur</span>
      </h1>
      <blockquote
        class="text-gray-500 dark:text-gray-400 font-medium text-xl md:text-2xl lg:text-[1.75rem] lg:leading-snug tracking-tighter text-center mb-8 md:mb-12"
      >
        <span class="block md:inline">Full-stack software engineer with more than 12.5 years of experience,{` `}</span>
        <span class="block md:inline">building for the Web within startup and enterprise environments.</span>
      </blockquote>
      <hr class="border-none bg-purple-500 mx-auto h-[6px] w-24" />
    </section>

    <Section marginBottom>
      <h2
        class="text-black dark:text-white font-bold text-2xl md:text-[1.75rem] lg:text-3xl tracking-tighter mb-1 md:mb-2"
      >
        Technical skills
      </h2>
      <p
        class="text-gray-500 dark:text-gray-400 font-medium text-lg md:text-[1.3rem] lg:text-[1.4rem] md:leading-snug tracking-tight mb-8 md:mb-10"
      >
        From early stage startups to enterprises, during the ride I worked with the following:
      </p>

      <Grid>
        {
          skills.map((skill) => (
            <div class="flex items-start">
              <Illustration name={skill.data.image} class="size-16 md:size-20 rounded-xl" />
              <div class="flex-1 ml-4">
                <h3
                  class:list={[
                    "text-black dark:text-white font-bold text-lg md:text-xl tracking-tight",
                    { "mb-[0.125rem] md:mb-1": !!skill.data.href },
                  ]}
                >
                  {skill.data.href ? (
                    <a
                      class="link-2"
                      href={skill.data.href}
                      title={skill.data.title}
                      aria-label={skill.data.title}
                      target="_blank"
                      rel="noreferrer"
                    >
                      {skill.data.title}
                    </a>
                  ) : (
                    skill.data.title
                  )}
                </h3>
                <p class="text-gray-500 dark:text-gray-400 text-[0.9375rem] md:text-base tracking-tight">
                  <Fragment set:html={skill.body} />
                </p>
              </div>
            </div>
          ))
        }
      </Grid>
    </Section>

    <Section marginBottom>
      <h2
        class="text-black dark:text-white font-bold text-2xl md:text-[1.75rem] lg:text-3xl tracking-tighter mb-1 md:mb-2"
      >
        Experience
      </h2>
      <p
        class="text-gray-500 dark:text-gray-400 font-medium text-lg md:text-[1.3rem] lg:text-[1.4rem] md:leading-snug tracking-tight mb-8 md:mb-10"
      >
        Over the years I worked for big companies, agencies, media outlets and startups.
      </p>

      <Grid>
        {
          jobs.reverse().map((job) => (
            <div class="flex items-start">
              <Picture
                class="size-16 md:size-20 rounded-xl"
                pictureAttributes={{ class: "contents" }}
                src={images.find((image) => image.src.includes(job.data.image))}
                alt={job.data.title}
                formats={["avif", "webp"]}
                densities={[2, 3]}
                width={80}
                height={80}
              />

              <div class="flex-1 ml-4">
                <h3 class="text-black dark:text-white font-bold text-lg md:text-xl tracking-tight mb-[0.125rem] md:mb-1">
                  {job.data.href ? (
                    <a
                      class="link-2"
                      href={job.data.href}
                      title={job.data.title}
                      aria-label={job.data.title}
                      target="_blank"
                      rel="noreferrer"
                    >
                      {job.data.title}
                    </a>
                  ) : (
                    job.data.title
                  )}
                </h3>
                <p class="text-gray-500 dark:text-gray-400 text-[0.9375rem] md:text-base tracking-tight">{job.body}</p>
              </div>
            </div>
          ))
        }
      </Grid>
    </Section>

    <Section>
      <h2
        class="text-black dark:text-white font-bold text-2xl md:text-[1.75rem] lg:text-3xl tracking-tighter mb-1 md:mb-2"
      >
        Let's connect
      </h2>
      <p
        class="text-gray-500 dark:text-gray-400 font-medium text-lg md:text-[1.3rem] lg:text-[1.4rem] md:leading-snug tracking-tight mb-4 lg:mb-6"
      >
        Have a cool idea or just wanna talk about tech? Let's grab a coffee, beer or cocktail!
      </p>
      <button
        class="appearance-none bg-purple-600 hover:bg-purple-700 outline-purple-700 transition-colors font-semibold text-lg text-white tracking-tight rounded-full inline-flex items-center justify-center gap-x-2 px-8 py-4 w-full md:w-auto"
        id="contact-button"
        type="button"
      >
        <Icon class="size-5" name="email" />
        Contact me</button
      >
    </Section>

    <footer class="flex max-w-7xl py-4 md:py-6 mx-auto w-full">
      <p class="flex-1 text-gray-500 dark:text-gray-400 text-sm md:text-base tracking-tight">
        Made with <a
          class="link"
          href="https://astro.build/"
          title="Astro"
          aria-label="Astro"
          target="_blank"
          rel="noreferrer">Astro</a
        >. Find source on <a
          class="link"
          href="https://github.com/mwildeboer/menno.dev"
          title="Github"
          aria-label="Github"
          target="_blank"
          rel="noreferrer">GitHub</a
        >.
      </p>
      <ul class="flex gap-3 md:gap-4">
        <li>
          <a
            class="outline-purple-500"
            href="https://github.com/mwildeboer/"
            title="GitHub"
            aria-label="GitHub"
            target="_blank"
            rel="noreferrer"
          >
            <Icon class="text-black dark:text-white size-6 md:size-8" name="github" />
          </a>
        </li>
        <li>
          <a
            class="outline-purple-500"
            href="https://www.linkedin.com/in/mennowildeboer/"
            title="LinkedIn"
            aria-label="LinkedIn"
            target="_blank"
            rel="noreferrer"
          >
            <Icon class="size-6 md:size-8" name="linkedin" />
          </a>
        </li>
      </ul>
    </footer>
    <script>
      const email = "znvygb:bzr.zraab@tznvy.pbz";
      const button = document.getElementById("contact-button")!;
      const handler = function (event: MouseEvent | TouchEvent) {
        event.stopPropagation();
        event.preventDefault();
        window.location.href = email.replace(/[a-zA-Z]/g, function (c) {
          // @ts-ignore
          return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
        });
      };

      button.addEventListener("touchend", handler);
      button.addEventListener("click", handler);
    </script>
  </body>
</html>
